.forceGraph-container {
  position: relative;
}

.forceGraph-unique-labels {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 10px;
  right: 10px;
  padding: 1rem;
  background-color: #2f3c7e;
  color: #fbeaeb;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: auto;
}
